
@model ProductListViewModel

@ViewBag.CurrentCategory

<div class="row">
    <div class="col-md-3">
        <label for="Size" id="size">Size</label>
        <input id="size" name="Size" />
    </div>

    <div class="col-md-3">
       <label for="Brand" id="brand">Brand</label>
       <input id="brand" name="Brand" />
    </div>

    <div>
        <button>Search</button>
    </div>
</div>
<hr />

@foreach (var product in Model.Products)
{
   @Html.Partial("_ProductOverviewSummaryPartial" , product);
}
   

<div id="productDiv">


</div>

@*<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <div class="productImage">*@

@*@if (Model.ProductImageMappings != null && Model.ProductImageMappings.Any())
    {
        <a asp-area="" asp-action="Details" asp-route-id="@product.ProductId">
            <img src="@(Url.Content(Constants.ProductThumbnailPath) + Model.ProductImageMappings.Where(pim => pim.ProductId == product.ProductId).OrderBy(pim => pim.ImageNumber).ElementAt(0).ProductImage.FileName)" alt="@Model.Products" width="100" , height="100">
        </a>
    }
    else
    {
        <div class="error">the product has no imagemapping?</div>

    }*@
@*</div>
            <div class="caption">
                <h3 class="pull-right">@product.Price.ToString("c")</h3>
                <h3>
                    <a asp-controller="Products" asp-action="Details" asp-route-id="@product.ProductId">@product.Name</a>
                </h3>
                <p>@product.Size.Name</p>
                <p>@product.Description</p>
            </div>
            <div class="addToCart">
                <p class="button">
                    <a class="btn btn-primary" asp-controller="Carts" asp-action="AddToShoppingCart"
                       asp-route-productId="@product.ProductId">Add to cart</a>
                </p>
            </div>
        </div>
    </div>*@

@section scripts{

    @*<script>

        $(document).ready(function () {
            LoadMoreProducts();
        });

        $(window).scroll(function () {
            if ($(window).scrollTop() == $(document).height() - $(window).height()) {
                LoadMoreProducts();
            }
        });

        function LoadMoreProducts() {

            $.ajax({
                type: 'GET',
                url: '/api/PieData',
                dataType: 'json',
                success: function (jsonData) {
                    if (jsonData == null) {
                        alert('no data returned');
                        return;
                    }

                    $.each(jsonData, function (index, product) {

                        var ProductSummarString = '<div class="col-sm-4 col-lg-4 col-md-4"> ' +
                                              '  <div class="thumbnail">' +
                                              '     <img src="' + product.imageThumbnailUrl + '" alt="">' +
                            '      <div class="caption">' +
                            '         <h3 class="pull-right">' + product.price + '</h3>' +
                            '         <h3>' +
                            '             <a href=/Pie/Details/' + product.productId + '>' + product.name + '</a>' +
                                              '         </h3>' +
                                              '         <p>' + product.description + '</p>' +
                                              '    </div>' +
                                              '    <div class="addToCart">' +
                            '        <p class="button">' +
                            '             <a class="btn btn-primary" href=/Cart/AddToShoppingCart?productId=' + product.productId + '>Add to cart</a>' +
                                              '         </p>' +
                                              '     </div>' +
                                              '  </div>' +
                                              '</div>';

                        $('#productDiv').append(ProductSummarString);
                    });
                },
                error: function (ex) {
                    alert(ex);
                }
            });
            return false;
        }
    </script>*@

}
